<section id="home-slider">
		<div class="container">
			<div class="row">
				<div class="main-slider">
					<div class="slide-text">
						<h1>Evernote is my 2nd brain.</h1>
						<p>Catholic, husband, father, technologist and DIY/dancing/radio/security ethusiast.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div> -->
	</section>
	<!-- PART: slider -->
	
		<section id="portfolio-information" class="padding-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-11">
					<div class="project-name overflow">
						<h2 class="bold">Use your 2nd Brain! </h2>
						<ul class="nav navbar-nav navbar-default">
							<li><a href="#"><i class="fa fa-clock-o"></i>August 31, 2016</a></li>
							<li><a href="#"><i class="fa fa-tag"></i>Evernote</a></li>
						</ul>
					</div>
					<div class="project-info overflow">
						<p>
							<ul class="elements">
								<li><i class="fa fa-angle-right"></i> Do you have good productivity at work?</li>
								<li><i class="fa fa-angle-right"></i> Do you forget things?</li>
								<li><i class="fa fa-angle-right"></i> Have you digitalized all your paperwork?</li>
								<li><i class="fa fa-angle-right"></i> Do you have a backup of all your critical paperwork?</li>
							</ul>
						</p>
						<p>
							These questions are how Evernote can help you. There are hundreds of people who have excellent tips and tricks for getting stuff done and archiving your digital life. However, very few of these systems are exactly the way you work. That is where someone like me can give you a hand to adapt your current productivty system into more and better. You can take the great blank canvas of Evernote to build that digital archive and productivity system.
						</p>
						<p>
							
						</p>
						<p></p>
						<p>Below are my recommendations for getting setup with Evernote:</p>
						<ul class="elements">
							<li><i class="fa fa-angle-right"></i> Hit up your local library first, instead of Amazon to save money. If the library doesn't have it, see if they will order it. By the time they get it, you will probably be ready for it.</li>
							<li><i class="fa fa-angle-right"></i> Get an awesome Bluetooth headset. Suggestions: <a href="http://smile.amazon.com/dp/B009A5204K">LG 700</a> or <a href="http://smile.amazon.com/dp/B0093TSSGW">Plantronics M165</a></li>
							<li><i class="fa fa-angle-right"></i> Turn off the radio and start listening to something worth while.</li>
						</ul>
						<p></p>
						<p>While it is difficult to not recommend more, here are my top recommendations:</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: intro -->

	<section id="features">
		<div class="container">
			<div class="row">
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/catholic.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Catholic</h2>
						<P>I believe in the Catholic tenents of faith. Is it hard, yes. Do I fail, yes. Does it help me be the best version of me, yes. </P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/wedding.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Husband</h2>
						<P>I am happily married to Desiree.</P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/family.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Father</h2>
						<P>I am a dad to two little crazies: Judah and Giavanna. They are goofey, loud, and have rocked my life in ways I never thought possible.</P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/technologist.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Technologist</h2>
						<P>My day job is as a Cisco voice engineer managing phones. However, my interests take me to Linux, modern web dev with CSS3, JS, NodeJS, HTML5, No-SQL DBs, and Github, VMware, mobile phones, ultra thin and rugged hardware, radios of all kinds, smart IoT/Network of things. I love to keep my finger on the pulse of technology and theorize where it will
							go and how it will impact people's lives for better or worse.</P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/dancing.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>DIY/dancing/radio/security ethusiast</h2>
						<P>In my spare time (all of 5 minutes), I love to tinker and get hands on in order to take a break from technology. I always get a little too motivated to rock and role a woodworking, repair, or cool project. My wife and I also meet while dancing which
							we both love. My ameture radio call sign is KD8UCM which I enjoy throwing out when I have the time to yak. I also enjoy brining up the rear in shooting competitions and geeking out over the gear.</P>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: main -->
