<section id="home-slider">
		<div class="container">
			<div class="row">
				<div class="main-slider">
					<div class="slide-text">
						<h1>I am a ...</h1>
						<p>Catholic, husband, father, technologist and DIY/dancing/radio/security enthusiast.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div> -->
	</section>
	<!-- PART: slider -->

	<section id="features">
		<div class="container">
			<div class="row">
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/catholic2.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Catholic</h2>
						<P>I believe in the Catholic tenents of faith. Is it hard, yes. Do I fail, yes. Does it help me be the best version of me, yes. </P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/wedding.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Husband</h2>
						<P>I am happily married to Desiree.</P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/family.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Father</h2>
						<P>I am a dad to two little crazies: Judah and Giavanna. They are goofey, loud, and have rocked my life in ways I never thought possible.</P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/technologist.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Technologist</h2>
						<P>My day job is as a Cisco voice engineer managing phones. However, my interests take me to Linux, modern web dev with CSS3, JS, NodeJS, HTML5, No-SQL DBs, and Github, VMware, mobile phones, ultra thin and rugged hardware, radios of all kinds, smart IoT/Network of things. I love to keep my finger on the pulse of technology and theorize where it will
							go and how it will impact people's lives for better or worse.</P>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-3 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/index/dancing.jpg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-8 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>DIY/dancing/radio/security ethusiast</h2>
						<P>In my spare time (all of 5 minutes), I love to tinker and get hands on in order to take a break from technology. I always get a little too motivated to rock and role a woodworking, repair, or cool project. My wife and I also meet while dancing which
							we both love. My ameture radio call sign is KD8UCM which I enjoy throwing out when I have the time to yak. I also enjoy brining up the rear in shooting competitions and geeking out over the gear.</P>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: main -->
