	<section id="page-breadcrumb">
		<div class="vertical-center sun">
			<div class="container">
				<div class="row">
					<div class="action">
						<div class="col-sm-12">
							<blockquote>
								<p>Serve your audience.</p>
								<footer>Roman Mars</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: quote-->

	<section id="portfolio-information" class="padding-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-11">
					<div class="project-name overflow">
						<h2 class="bold">Custom Information</h2>
						<ul class="nav navbar-nav navbar-default">
							<li><a href="#"><i class="fa fa-clock-o"></i>June 1st, 2016</a></li>
							<li><a href="#"><i class="fa fa-tag"></i>Podcasts</a></li>
						</ul>
					</div>
					<div class="project-info overflow">
						<p>In the vein of listening to media rather than sitting and reading it, podcasts are another facet of the information pie. Again, this helps provide a better use of your time while doing the mundane.</p>
						<p>While I am a radio kind of guy, podcasts are nice because the information has more personality to it. While regular media is presented as unbias, podcasts can be decidedly bias which presents more transparencies. It is nice to have podcasts in addition to some of the blogs I read to provide more perspectives, updates, or interviews.</p>
						<p>Being an informationalist, I tend to favor fun informational podcasts which have information that you wouldn't normally hear on the radio or read.</p>
						<p></p>
						<p>I've burned through a lot of podcasts finding what I like, these are just the ones that I am listening to now.</p>
						<p>Below are my recommendations for podcasts:</p>
						<ul class="elements">
							<li><i class="fa fa-angle-right"></i> Get a good podcast app for you mobile.</li>
							<li><i class="fa fa-angle-right"></i> Hit up podcast lists along your interests.</li>
							<li><i class="fa fa-angle-right"></i> Try afew episodes of each podcast and don't hesitate to unsubscribe if it isn't your thing.</li>
						</ul>
						<p></p>
						<p>Here are some of my favorites:</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: intro -->

	<section id="features">
		<div class="container">
			<div class="row">
				<div class="single-features">
					<div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/podcasts/apm-marketplace.jpeg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>American Public Media: Marketplace</h2>
						<P>This is a short news podcast that provides a higher level perspective about the economy which shies away from the mainstream sensational stories. Great little half hour.</P>
						<p><a href="https://itunes.apple.com/us/podcast/apm-marketplace/id201853034?mt=2" target="_blank"><i class="fa fa-apple"></i></a></p>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/podcasts/the-minimalists.jpeg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>The Minimalists</h2>
						<P>These guys provide a refreashing perspective to life and encourage living a better, more directed exhistence with real world ways of doing it.</P>
						<p><a href="https://itunes.apple.com/us/podcast/the-minimalists-podcast/id1069757084?mt=2" target="_blank"><i class="fa fa-apple"></i></a></p>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/podcasts/aom.jpeg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>The Art of Manliness</h2>
						<P>Brett McKay lays out all things manly encouraging us men to live manly lives and does interviews on good reading or activites to live that life.</P>
						<p><a href="https://itunes.apple.com/us/podcast/the-art-of-manliness/id332516054?mt=2" target="_blank"><i class="fa fa-apple"></i></a></p>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
						<img src="images/podcasts/heres-the-thing.jpeg" class="img-responsive" alt="">
					</div>
					<div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<h2>Here's the Thing</h2>
						<P>Alec Baldwin is a master interviewer! He is so down to earth and intelligent that the interviews are terrific conversations that turn into stories.</P>
						<p><a href="https://itunes.apple.com/us/podcast/heres-thing-alec-baldwin/id472939437?mt=2" target="_blank"><i class="fa fa-apple"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: list -->
