	<section id="page-breadcrumb">
		<div class="vertical-center sun">
			<div class="container">
				<div class="row">
					<div class="action">
						<div class="col-sm-12">
							<blockquote>
								<p>[A] quotation is a handy thing to have about, saving one the trouble of thinking for oneself, always a laborious business.</p>
								<footer>A.A. Milne</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: quote-->

	<section id="portfolio-information" class="padding-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-11">
					<div class="project-name overflow">
						<h2 class="bold">Thinking Points</h2>
						<ul class="nav navbar-nav navbar-default">
							<li><a href="#"><i class="fa fa-clock-o"></i>June 1, 2016</a></li>
							<li><a href="#"><i class="fa fa-tag"></i>Quotes</a></li>
						</ul>
					</div>
					<div class="project-info overflow">
						<p>Quotes are mind candy. They can be digested quickly and you remember how good they were. Quotes add gravity to conversations. Quotes are reflective points.</p>
						<p>I like quotes. Quotes are incredible intelligent points from others that strike a cord with your mentality. I like to remember the finer points of others as a means of encouragement to myself.</p>
						<p></p>
						<p>Here are some that I consider the best:</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: intro -->

	<section id="features">
		<div class="container">
			<div class="row">
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>The victim mindset dilutes the human potential. By not accepting personal responsibility for our circumstances, we greatly reduce the power to change them.</p>
							<footer>Steve Maraboli</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>The successful warrior is the average man, with laser-like focus.</p>
							<footer>Bruce Lee</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>If your god never disagrees with you, you might just be worshiping an idealized version of yourself.</p>
							<footer>Tim Keller</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>Be decisive. Right or wrong, made a decision. The road to life is paved with flat squirrels who couldn't make a decision.</p>
							<footer>Unknown</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>The greatness of a man is not in how much wealth he acquires, but in his integrity and his ability to affect those around him positively.</p>
							<footer>Bob Marley</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>Great minds discuss ideas. Average minds discuss events. Small minds discuss people.</p>
							<footer>Henry Thomas Buckle</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>Public education does not exist for the benefit of students or the benefit of their parents. It exists for the benefit of the social order. We have discovered as a species that is is useful to have an educated population. You do not need to be a student or have a child who is a student to benefit from public education. Every second of your life, you benefit from public education. So let me explain why I like to pay taxes for schools, even though I don't personally have a kid in school: it's because I don't like living in a country with a bunch of stupid people.</p>
							<footer>John Green</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>Every normal man must be tempted, at times, to spit on his hands, hoist the black flag, and begin slitting throats.</p>
							<footer>H.L. Mencken</footer>
						</blockquote>
					</div>
				</div>
				<div class="single-features">
					<div class="col-sm-11 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
						<blockquote>
							<p>You can't change the people around you; but you can change the people around you.</p>
							<footer>Unknown</footer>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- PART: list -->