  <section id="page-breadcrumb">
    <div class="vertical-center sun">
      <div class="container">
        <div class="row">
          <div class="action">
            <div class="col-sm-12">
              <blockquote>
                <p>Be afraid of the man with one gun. He probably knows how to use it.</p>
                <footer>Unknown</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- PART: quotes-->

  <section id="portfolio-information" class="padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-11">
          <div class="project-name overflow">
            <h2 class="bold">Choose the Right Stick</h2>
            <ul class="nav navbar-nav navbar-default">
              <li><a href="#"><i class="fa fa-clock-o"></i>June 1, 2016</a></li>
              <li><a href="#"><i class="fa fa-tag"></i>Tools</a></li>
            </ul>
          </div>
          <div class="project-info overflow">
            <p>I belive in the right tool for the job. How you use tools and what tools you use says something about a person. Maybe you have a few that are prized posessions. Maybe you have a lot, but don't know how to use half of them. Maybe you have some,
              but only use them certain ways. See what I mean?</p>
            <p>I use hardware, software, physical, and mental tools. We all do. Being a person who pursues quite a bit of productivity, I strive for a balence and to find the right fit.</p>
            <p></p>
            <p>Here are the criteria that I judge by.</p>
            <ul class="elements">
              <li><i class="fa fa-angle-right"></i> Cross-platform?</li>
              <li><i class="fa fa-angle-right"></i> Paper or app?</li>
              <li><i class="fa fa-angle-right"></i> Stability or cutting edge?</li>
              <li><i class="fa fa-angle-right"></i> Style or ruggedness?</li>
              <li><i class="fa fa-angle-right"></i> Will it stand up to every day use?</li>
              <li><i class="fa fa-angle-right"></i> Comfort or utility?</li>
              <li><i class="fa fa-angle-right"></i> Budget, quality, or extravagant?</li>
              <li><i class="fa fa-angle-right"></i> Need or want?</li>
            </ul>
            <p></p>
            <p>Here are some of the tools that work well for me:</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- PART: info-->

  <section id="features">
    <div class="container">
      <div class="row">
        <div class="single-features">
          <div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/tools/evernote.png" class="img-responsive" alt="">
          </div>
          <div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2>Evernote</h2>
            <P>Huge utility in this app. While it may be difficult to understand at first because it is a blank canvas, this app is very definitely my second brain, document archive, RSS feed, todo list, interesting stuff archive, books list, notification
              center, project inspiration, etc.</P>
          </div>
        </div>
        <div class="single-features">
          <div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/tools/chrome.png" class="img-responsive" alt="">
          </div>
          <div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2>Chrome</h2>
            <P>Google is a beast. For all the debate out there, it is a solid tool.</P>
          </div>
        </div>
        <div class="single-features">
          <div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/tools/spyderco.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2>Spyderco Tenacious</h2>
            <P>The most solid utility/defence knife I have ever owned. The steel is superior with tines that can chew through anything.</P>
          </div>
        </div>
        <div class="single-features">
          <div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/tools/kimber.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2>Kimber Ultra CDP II Pro</h2>
            <P>It all depends on so much personally, but this is what does it for me.</P>
          </div>
        </div>
        <div class="single-features">
          <div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/tools/oakley.jpg" class="img-responsive" alt="">
          </div>
          <div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2>Oakley</h2>
            <P>I where glasses and have kids. I need something that can stand the abuse and look stylish for at work. Oakley will hit the nail on the head every time.</P>
          </div>
        </div>
        <div class="single-features">
          <div class="col-sm-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
            <img src="images/tools/moleskin.png" class="img-responsive" alt="">
          </div>
          <div class="col-sm-9 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
            <h2>Moleskine Volant Notebook</h2>
            <P>I'm still transitioning from paper to digital. This is the last vestig of paper that just works too well for jots to let it go.</P>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- PART: list-->
